body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
.container-flexable{
    display: flex;
    margin-bottom: 110px;
}
.orangeerd-color{
    color: orangered;
}
.container-halfwi{
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.container-halfwi img{
    width: 85%;
    padding-top: 3%
}
.order-contact{
    text-decoration: none;
    background-image: linear-gradient(rgba(216, 72, 15, 0.911), rgb(223, 132, 27));
    color: white;
    text-align: justify;
    font-weight: 700;
    border-radius: 15px;
    padding: 10px 40px;
}
.contact-us{
    background-image: url(shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position: 40% 30%;
    background-size: cover;
}
.prepare-meal{
    text-align: center;
}
#paragraph{
    padding-left: 20%;
    padding-right: 20%;
}
.food-main{
    display: flex;
    margin-bottom: 20px;
}
.food-area{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 12px;
    box-shadow: 10px 15px 30px gray;
    border-radius: 15px;
}
.image img{
    width: 100%;
    border-radius: 5px;
}
.form{
    width: 50%; 
    padding: 12px; 
    border: 5px solid rgb(53, 7, 7); 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 15px; 
    margin-bottom: 16px;
    margin-left: 50px;
    resize: vertical
}
.All-menu{
    display: flex;
    margin-bottom: 20px;
}
.Menu-cart{
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 10px;
    box-shadow: 10px 20px 20px rgb(221, 209, 143);
    border-radius: 15px;
}
.footer-para{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(29, 13, 13);
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}